# Abaqus
*.mtx
*.com
*.dat
*.log
*.msg
*.odb
*.cae
*.sta
*.ipm
*.prt
*.jnl
*.sim
*.rpy.*
*.rpy
*.rec
*.SMABulk
*.env
*.exception
*.inp
*.lck

# Python
__pycache__/ 
*.pyc        
*.npz        
*.npy

# C / C++
*.o
*.so
*.dylib

# CMake
build/
CMakeFiles/

# Geometric Modeling
*.stl
*.msh
*.blend

# General
.cache/
