


# Prevent future simulation results from being tracked.
# The simulation files can be very big and take up too much space.
*.mtx
*.com
*.dat
*.log
*.msg
*.odb
*.cae
*.sta
# *.inp --> Actually, let's include these
*.ipm
*.prt
*.jnl
*.sim

# Also prevent stored numpy arrays from being tracked.
# This specifically prevents stiffness matrices from being tracked.
*.npz
*.npy

