# Abaqus
*.mtx
*.com
*.dat
*.log
*.msg
*.odb
*.cae
*.sta
*.ipm
*.prt
*.jnl
*.sim
*.rpy.*
*.rpy
*.rec
*.SMABulk
*.env

# Python
__pycache__/ 
*.pyc        
*.npz        
*.npy

# Vim
tags/  
tags
*.swp  
